body{
	background: url("sports11.jpg");

}
.Container{
	text-align: center;
	
}
/*sport Buttons*/
.sport{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
/*Submit Button*/
#add-Sports{
	margin-left: 223px;
	padding: 5px

}
p{
	font-size: 30px;
	color: yellow;
}

