body{
	background: black;

}
.Container{
	text-align: center;
	
}
/*sport Buttons*/
.sport{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 30PX;

}
/*Submit Button*/
#add-Sports{
	margin-left: 223px;
	padding: 5px

}
/*Rating font*/
p{
	font-size: 30px;
	color: yellow;
}

h1{
	font-size: 90px;
	color: #6be80c;
}
h3{
	color: #0ce8e1;
}

